.container .filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px #DDD solid;
  border-radius: 4px;
  position: relative;
}

.filters button {
  font-size: 18px;
  background-color: #FF5A5F;
  color: #FFF;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.filters button:hover{
  opacity: 0.9;
}